@charset "UTF-8";/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */

/* line 1, /Users/ryanyu/Desktop/Projects/personal_website/app/assets/stylesheets/contact.css.scss */
.contact-content {
  font-size: 36px;
  letter-spacing: 0.1em;
  line-height: 49px;
  margin: 50px 100px;
  text-align: right;
  transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -webkit-transition: all 0.8s ease;
}

/* line 13, /Users/ryanyu/Desktop/Projects/personal_website/app/assets/stylesheets/contact.css.scss */
.contact-content a {
  text-decoration: none;
  color: #D50000;
}

/* line 18, /Users/ryanyu/Desktop/Projects/personal_website/app/assets/stylesheets/contact.css.scss */
.contact-content .contact-heading {
  color: #D50000;
  border-bottom: 2px solid #D50000;
  height: 8px;
}

@media (max-width: 747px) {
  /* line 26, /Users/ryanyu/Desktop/Projects/personal_website/app/assets/stylesheets/contact.css.scss */
  .contact-content {
    font-size: 24px;
    margin: 30px 50px;
    line-height: 36px;
  }
}
/* line 1, /Users/ryanyu/Desktop/Projects/personal_website/app/assets/stylesheets/footer.css.scss */
.high-footer {
  height: 200px;
  background-color: #FAFAFA;
  border-top: 1px solid #EEEEEE;
  transition: all 0.8s;
  -o-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -webkit-transition: all 0.8s;
}

/* line 11, /Users/ryanyu/Desktop/Projects/personal_website/app/assets/stylesheets/footer.css.scss */
.footer-nav {
  width: 100%;
  float: left;
  margin: 0 0 3em 0;
  padding: 0;
  list-style: none;
  margin-top: 80px;
  text-align: center;
}

/* line 21, /Users/ryanyu/Desktop/Projects/personal_website/app/assets/stylesheets/footer.css.scss */
.footer-nav li {
  display: inline-block;
}

/* line 25, /Users/ryanyu/Desktop/Projects/personal_website/app/assets/stylesheets/footer.css.scss */
.footer-nav li a {
  display: block;
  width: 40px;
  text-decoration: none;
  float: right;
  margin: 0 20px;
}

/* line 33, /Users/ryanyu/Desktop/Projects/personal_website/app/assets/stylesheets/footer.css.scss */
.copyright-footer {
  font-family: 'Cousine';
  color: #d4d4d4;
  font-size: 9px;
  text-align: center;
  transition: all 0.7s;
  -o-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -webkit-transition: all 0.7s;
}

/* line 44, /Users/ryanyu/Desktop/Projects/personal_website/app/assets/stylesheets/footer.css.scss */
.footer-logo {
  width: 30px;
  opacity: 0.15;
  filter: alpha(opacity=15);
  /* For IE */
  transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -webkit-transition: all 0.7s ease;
}

/* line 54, /Users/ryanyu/Desktop/Projects/personal_website/app/assets/stylesheets/footer.css.scss */
.footer-logo:hover {
  opacity: 0.6;
  filter: alpha(opacity=60);
  /* For IE */
  width: 33px;
}

@media (max-width: 550px) {
  /* line 62, /Users/ryanyu/Desktop/Projects/personal_website/app/assets/stylesheets/footer.css.scss */
  .footer-logo {
    width: 20px;
  }

  /* line 66, /Users/ryanyu/Desktop/Projects/personal_website/app/assets/stylesheets/footer.css.scss */
  .footer-nav li a {
    margin: 0 6px;
  }
}
/* line 1, /Users/ryanyu/Desktop/Projects/personal_website/app/assets/stylesheets/header.css.scss */
.high-header {
  height: 200px;
  border-bottom: 1px solid #EEEEEE;
  transition: all 0.8s;
  -o-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -webkit-transition: all 0.8s;
}

/* line 10, /Users/ryanyu/Desktop/Projects/personal_website/app/assets/stylesheets/header.css.scss */
.header-logo {
  width: 80px;
  padding: 60px 0 0 100px;
  position: absolute;
}

/* line 16, /Users/ryanyu/Desktop/Projects/personal_website/app/assets/stylesheets/header.css.scss */
#navigation {
  width: 100%;
  float: left;
  margin: 0 0 3em 0;
  padding: 0;
  list-style: none;
  margin-top: 75px;
  transition: all 0.8s;
  -o-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -webkit-transition: all 0.8s;
}

/* line 29, /Users/ryanyu/Desktop/Projects/personal_website/app/assets/stylesheets/header.css.scss */
#navigation li {
  float: right;
  transition: all 0.8s;
  -o-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -webkit-transition: all 0.8s;
}

/* line 37, /Users/ryanyu/Desktop/Projects/personal_website/app/assets/stylesheets/header.css.scss */
#navigation li a {
  display: block;
  padding: 8px 15px;
  text-decoration: none;
  font-weight: 400;
  color: black;
  font-size: 20px;
  padding-right: 100px;
  letter-spacing: 0.1em;
}

/* line 48, /Users/ryanyu/Desktop/Projects/personal_website/app/assets/stylesheets/header.css.scss */
#navigation li a:after {
  content: '';
  display: block;
  border-bottom: 2px solid #D50000;
  height: 8px;
  width: 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
}

/* line 60, /Users/ryanyu/Desktop/Projects/personal_website/app/assets/stylesheets/header.css.scss */
#navigation li a:hover:after {
  width: 100%;
}

@media (max-width: 797px) {
  /* line 64, /Users/ryanyu/Desktop/Projects/personal_website/app/assets/stylesheets/header.css.scss */
  .high-header {
    height: 100px;
  }

  /* line 68, /Users/ryanyu/Desktop/Projects/personal_website/app/assets/stylesheets/header.css.scss */
  .header-logo {
    width: 50px;
    padding: 25px 0 0 50px;
    position: absolute;
  }

  /* line 74, /Users/ryanyu/Desktop/Projects/personal_website/app/assets/stylesheets/header.css.scss */
  #navigation {
    margin-top: 32px;
  }

  /* line 78, /Users/ryanyu/Desktop/Projects/personal_website/app/assets/stylesheets/header.css.scss */
  #navigation li a {
    padding-right: 50px;
    font-size: 16px;
  }
}
@media (max-width: 550px) {
  /* line 87, /Users/ryanyu/Desktop/Projects/personal_website/app/assets/stylesheets/header.css.scss */
  .high-header {
    height: 150px;
    text-align: center;
  }

  /* line 92, /Users/ryanyu/Desktop/Projects/personal_website/app/assets/stylesheets/header.css.scss */
  .header-logo {
    width: 50px;
    position: absolute;
    margin-left: -70px;
  }

  /* line 98, /Users/ryanyu/Desktop/Projects/personal_website/app/assets/stylesheets/header.css.scss */
  #navigation {
    margin-top: 90px;
  }

  /* line 102, /Users/ryanyu/Desktop/Projects/personal_website/app/assets/stylesheets/header.css.scss */
  #navigation li {
    text-align: center;
    margin-right: -10px;
  }

  /* line 107, /Users/ryanyu/Desktop/Projects/personal_website/app/assets/stylesheets/header.css.scss */
  #navigation li a {
    padding-right: 50px;
    font-size: 16px;
  }
}
/* line 1, /Users/ryanyu/Desktop/Projects/personal_website/app/assets/stylesheets/home.css.scss */
.audio-vectors {
  text-align: center;
}

/* line 5, /Users/ryanyu/Desktop/Projects/personal_website/app/assets/stylesheets/home.css.scss */
.hd800-png {
  width: 450px;
  padding: 50px 25px;
  transition: all 0,2s ease;
  -o-transition: all 0,2s ease;
  -moz-transition: all 0,2s ease;
  -webkit-transition: all 0,2s ease;
}

/* line 14, /Users/ryanyu/Desktop/Projects/personal_website/app/assets/stylesheets/home.css.scss */
.b22-png {
  width: 450px;
  padding: 0 25px;
  margin-bottom: 150px;
  transition: all 0,2s ease;
  -o-transition: all 0,2s ease;
  -moz-transition: all 0,2s ease;
  -webkit-transition: all 0,2s ease;
}

/* line 24, /Users/ryanyu/Desktop/Projects/personal_website/app/assets/stylesheets/home.css.scss */
.hd800-png:hover {
  -webkit-filter: opacity(0.5);
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  transform: rotate(15deg);
}

/* line 33, /Users/ryanyu/Desktop/Projects/personal_website/app/assets/stylesheets/home.css.scss */
.b22-png:hover {
  -webkit-filter: opacity(0.5);
  -webkit-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  transform: rotate(-15deg);
}

@media (max-width: 949px) {
  /* line 43, /Users/ryanyu/Desktop/Projects/personal_website/app/assets/stylesheets/home.css.scss */
  .b22-png {
    margin-bottom: 75px;
  }
}
@media (max-width: 550px) {
  /* line 50, /Users/ryanyu/Desktop/Projects/personal_website/app/assets/stylesheets/home.css.scss */
  .hd800-png {
    width: 270px;
    margin-top: -25px;
  }

  /* line 55, /Users/ryanyu/Desktop/Projects/personal_website/app/assets/stylesheets/home.css.scss */
  .b22-png {
    width: 270px;
    margin-bottom: 50px;
  }
}
/* line 1, /Users/ryanyu/Desktop/Projects/personal_website/app/assets/stylesheets/shared.css.scss */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Dosis', sans-serif;
}

/* line 1, /Users/ryanyu/Desktop/Projects/personal_website/app/assets/stylesheets/splash.css.scss */
body#splash-bg {
  height: 100%;
  background-color: black;
}

/* line 6, /Users/ryanyu/Desktop/Projects/personal_website/app/assets/stylesheets/splash.css.scss */
.splash-outer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -webkit-transition: all 0.8s ease;
}

/* line 18, /Users/ryanyu/Desktop/Projects/personal_website/app/assets/stylesheets/splash.css.scss */
.splash-container {
  height: 100%;
  width: 50%;
  display: table;
  margin: 0 auto;
  color: white;
  transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -webkit-transition: all 0.8s ease;
}

/* line 31, /Users/ryanyu/Desktop/Projects/personal_website/app/assets/stylesheets/splash.css.scss */
.splash-intro {
  vertical-align: middle;
  height: 100%;
  display: table-cell;
  font-size: 40px;
  text-align: left;
  letter-spacing: 0.05em;
  -webkit-animation: fadein 2s;
  /* Safari and Chrome */
  -moz-animation: fadein 2s;
  /* Firefox */
  -ms-animation: fadein 2s;
  /* Internet Explorer */
  animation: fadein 2s;
}

@keyframes fadein {
  /* line 45, /Users/ryanyu/Desktop/Projects/personal_website/app/assets/stylesheets/splash.css.scss */
  from {
    opacity: 0;
  }

  /* line 46, /Users/ryanyu/Desktop/Projects/personal_website/app/assets/stylesheets/splash.css.scss */
  to {
    opacity: 1;
  }
}

/* Firefox */
@-moz-keyframes fadein {
  /* line 51, /Users/ryanyu/Desktop/Projects/personal_website/app/assets/stylesheets/splash.css.scss */
  from {
    opacity: 0;
  }

  /* line 52, /Users/ryanyu/Desktop/Projects/personal_website/app/assets/stylesheets/splash.css.scss */
  to {
    opacity: 1;
  }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
  /* line 57, /Users/ryanyu/Desktop/Projects/personal_website/app/assets/stylesheets/splash.css.scss */
  from {
    opacity: 0;
  }

  /* line 58, /Users/ryanyu/Desktop/Projects/personal_website/app/assets/stylesheets/splash.css.scss */
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  /* line 63, /Users/ryanyu/Desktop/Projects/personal_website/app/assets/stylesheets/splash.css.scss */
  from {
    opacity: 0;
  }

  /* line 64, /Users/ryanyu/Desktop/Projects/personal_website/app/assets/stylesheets/splash.css.scss */
  to {
    opacity: 1;
  }
}

/* line 70, /Users/ryanyu/Desktop/Projects/personal_website/app/assets/stylesheets/splash.css.scss */
​
.splash-intro #splash-ryanyu {
  font-weight: 600;
}

/* line 74, /Users/ryanyu/Desktop/Projects/personal_website/app/assets/stylesheets/splash.css.scss */
.enter-here {
  font-size: 28px;
  padding-left: 100px;
  text-align: center;
  transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -webkit-transition: all 0.8s ease;
}

/* line 84, /Users/ryanyu/Desktop/Projects/personal_website/app/assets/stylesheets/splash.css.scss */
.enter-here a {
  text-decoration: none;
  color: white;
  transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -webkit-transition: all 0.8s ease;
}

/* line 93, /Users/ryanyu/Desktop/Projects/personal_website/app/assets/stylesheets/splash.css.scss */
.enter-here a:hover {
  background-color: white;
  color: black;
  font-size: 36px;
}

@media (max-width: 749px) {
  /* line 100, /Users/ryanyu/Desktop/Projects/personal_website/app/assets/stylesheets/splash.css.scss */
  .splash-intro {
    font-size: 34px;
  }
}
@media (max-width: 550px) {
  /* line 106, /Users/ryanyu/Desktop/Projects/personal_website/app/assets/stylesheets/splash.css.scss */
  .splash-intro {
    font-size: 28px;
  }

  /* line 110, /Users/ryanyu/Desktop/Projects/personal_website/app/assets/stylesheets/splash.css.scss */
  .enter-here {
    font-size: 22px;
    padding-left: 75px;
  }

  /* line 115, /Users/ryanyu/Desktop/Projects/personal_website/app/assets/stylesheets/splash.css.scss */
  .enter-here a:hover {
    font-size: 28px;
  }
}
/* line 1, /Users/ryanyu/Desktop/Projects/personal_website/app/assets/stylesheets/static_pages.css.scss */
.about-content {
  font-size: 36px;
  letter-spacing: 0.1em;
  line-height: 49px;
  margin: 80px 100px;
  text-align: right;
  transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -webkit-transition: all 0.8s ease;
}

/* line 13, /Users/ryanyu/Desktop/Projects/personal_website/app/assets/stylesheets/static_pages.css.scss */
.about-content .about-highlight {
  color: #D50000;
  border-bottom: 2px solid #D50000;
  height: 8px;
}

/* line 19, /Users/ryanyu/Desktop/Projects/personal_website/app/assets/stylesheets/static_pages.css.scss */
.about-content .about-highlight a {
  text-decoration: none;
  color: #D50000;
}

/* line 24, /Users/ryanyu/Desktop/Projects/personal_website/app/assets/stylesheets/static_pages.css.scss */
.about-content .about-highlight a:hover {
  text-decoration: none;
  color: #000;
  border-bottom: 2px solid #000;
}

/* line 30, /Users/ryanyu/Desktop/Projects/personal_website/app/assets/stylesheets/static_pages.css.scss */
.professional-content {
  margin: 66px 100px;
  letter-spacing: 0.1em;
}

/* line 35, /Users/ryanyu/Desktop/Projects/personal_website/app/assets/stylesheets/static_pages.css.scss */
.professional-content h1 {
  text-align: right;
  font-weight: 600;
  font-size: 70px;
  transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -webkit-transition: all 0.8s ease;
}

/* line 45, /Users/ryanyu/Desktop/Projects/personal_website/app/assets/stylesheets/static_pages.css.scss */
.professional-content .professional-entry {
  margin-bottom: 50px;
}

/* line 49, /Users/ryanyu/Desktop/Projects/personal_website/app/assets/stylesheets/static_pages.css.scss */
.professional-content .professional-entry a {
  text-decoration: none;
  color: #D50000;
  border-bottom: 2px solid #D50000;
}

/* line 55, /Users/ryanyu/Desktop/Projects/personal_website/app/assets/stylesheets/static_pages.css.scss */
.professional-content .professional-entry a:hover {
  text-decoration: none;
  color: #000;
  border-bottom: 2px solid #000;
}

/* line 61, /Users/ryanyu/Desktop/Projects/personal_website/app/assets/stylesheets/static_pages.css.scss */
.professional-content .professional-entry .professional-entry-text {
  width: 75%;
  font-size: 20px;
  transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -webkit-transition: all 0.8s ease;
}

/* line 70, /Users/ryanyu/Desktop/Projects/personal_website/app/assets/stylesheets/static_pages.css.scss */
.professional-content .professional-entry h2 {
  font-weight: 400;
  font-size: 30px;
}

/* line 75, /Users/ryanyu/Desktop/Projects/personal_website/app/assets/stylesheets/static_pages.css.scss */
.professional-content .professional-entry .red {
  color: #D50000;
  font-weight: 200;
  font-size: 40px;
}

/* line 81, /Users/ryanyu/Desktop/Projects/personal_website/app/assets/stylesheets/static_pages.css.scss */
.technical-skills {
  font-size: 26px;
  color: #D50000;
}

/* line 86, /Users/ryanyu/Desktop/Projects/personal_website/app/assets/stylesheets/static_pages.css.scss */
.music-content {
  font-size: 36px;
  letter-spacing: 0.1em;
  line-height: 49px;
  margin: 80px 100px;
  text-align: right;
  transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -webkit-transition: all 0.8s ease;
}

/* line 98, /Users/ryanyu/Desktop/Projects/personal_website/app/assets/stylesheets/static_pages.css.scss */
.music-content .music-highlight {
  color: #D50000;
  border-bottom: 2px solid #D50000;
  height: 8px;
}

/* line 104, /Users/ryanyu/Desktop/Projects/personal_website/app/assets/stylesheets/static_pages.css.scss */
.music-content h1 {
  text-align: left;
}

/* line 108, /Users/ryanyu/Desktop/Projects/personal_website/app/assets/stylesheets/static_pages.css.scss */
.music-content .music-highlight a {
  text-decoration: none;
  color: #D50000;
}

/* line 113, /Users/ryanyu/Desktop/Projects/personal_website/app/assets/stylesheets/static_pages.css.scss */
.music-content .music-highlight a:hover {
  text-decoration: none;
  color: black;
  border-bottom: 2px solid black;
}

/* line 119, /Users/ryanyu/Desktop/Projects/personal_website/app/assets/stylesheets/static_pages.css.scss */
.music-content .audio-vectors .b22-png {
  margin-bottom: 25px;
}

@media (max-width: 747px) {
  /* line 125, /Users/ryanyu/Desktop/Projects/personal_website/app/assets/stylesheets/static_pages.css.scss */
  .about-content {
    font-size: 28px;
    letter-spacing: 0.1em;
    line-height: 42px;
    margin: 40px 50px;
    text-align: right;
  }

  /* line 133, /Users/ryanyu/Desktop/Projects/personal_website/app/assets/stylesheets/static_pages.css.scss */
  .professional-content {
    margin: 40px 50px;
    letter-spacing: 0.1em;
  }

  /* line 138, /Users/ryanyu/Desktop/Projects/personal_website/app/assets/stylesheets/static_pages.css.scss */
  .professional-content h1 {
    text-align: center;
    font-weight: 600;
    font-size: 44px;
  }

  /* line 144, /Users/ryanyu/Desktop/Projects/personal_website/app/assets/stylesheets/static_pages.css.scss */
  .professional-content .professional-entry h2 {
    font-size: 20px;
  }

  /* line 148, /Users/ryanyu/Desktop/Projects/personal_website/app/assets/stylesheets/static_pages.css.scss */
  .professional-content .professional-entry .red {
    font-size: 26px;
  }

  /* line 152, /Users/ryanyu/Desktop/Projects/personal_website/app/assets/stylesheets/static_pages.css.scss */
  .professional-content .professional-entry .professional-entry-text {
    width: 100%;
    font-size: 16px;
  }

  /* line 157, /Users/ryanyu/Desktop/Projects/personal_website/app/assets/stylesheets/static_pages.css.scss */
  .technical-skills {
    font-size: 20px;
    color: #D50000;
  }

  /* line 162, /Users/ryanyu/Desktop/Projects/personal_website/app/assets/stylesheets/static_pages.css.scss */
  .music-content {
    font-size: 24px;
    letter-spacing: 0.1em;
    line-height: 36px;
    margin: 40px 50px;
    text-align: right;
  }

  /* line 170, /Users/ryanyu/Desktop/Projects/personal_website/app/assets/stylesheets/static_pages.css.scss */
  .music-content h1 {
    text-align: center;
  }
}
