<header class="high-header">
	<%= link_to image_tag("logo-dosis-1.png", :border => 0, :class => "header-logo"), home_path %>

	<ul id="navigation">
		<li><a href=<%= contact_path %>>Contact</a></li>
		<li><a href=<%= professional_path %>>Professional</a></li>
		<li><a href=<%= about_path %>>About</a></li>
	</ul>

</header>