<% provide(:title, 'About') %>

<%= render 'shared/header' %>

<div class="about-content">
	My name is 
	<span class="about-highlight"><a href="http://www.ryan-yu.com">Ryan Yu</a></span><br />

	I am a current fourth-year student at the
	<span class="about-highlight">University of California, Berkeley</span><br />
	pursuing a double major in Computer Science and Mathematics<br /><br />

	I emphatically enjoy
	<span class="about-highlight"><a href="http://www.phish.net">Phish</a></span><br />
	which is not be confused with the edible
	<span class="about-highlight"><a href="http://en.wikipedia.org/wiki/Fish">fish</a></span><br />
	or the slightly more interesting
	shell-<span class="about-highlight"><a href="http://fishshell.com/">fish</a></span>
</div>

<%= render 'shared/footer' %>

