<%= render 'shared/header' %>

<div class="contact-content">
	Scroll down a tiny bit to the <span class="contact-heading">footer.</span><br />
	Be sure to click the little <span class="contact-heading">icons.</span><br />
    You can also use the following <span class="contact-heading">form</span> to email me directly:
</div>

<%= render 'shared/footer' %>