<%= render 'shared/header' %>

<div class="contact-content">
	Scroll down a tiny bit to the <span class="contact-heading">footer.</span><br />

	Be sure to click the little <span class="contact-heading">icons.</span><br /><br />

	Just in case you're too lazy to hover over the icon that clearly indicates my email address, my email address is
	<span class="contact-heading"><a href="mailto:ryan.cao.you@gmail.com">ryan.cao.you@gmail.com</a></span>.<br />

	Feel free to send me anything you want.<br /><br />

    You can also use the following <span class="contact-heading">form</span><br />
    to email me directly, in case you're also too lazy to open up an email client:
</div>

<%= render 'shared/footer' %>