<% provide(:title, 'Contact') %>

<%= render 'shared/header' %>

<div class="contact-content">
	Scroll down a tiny bit to the <span class="contact-heading">footer.</span><br />

	Be sure to click the little <span class="contact-heading">icons.</span><br /><br />

	Just in case you're too lazy to hover over the icon that clearly indicates my email address, my email address is
	<span class="contact-heading">ryan.cao.you (at) gmail.com</span>.<br />

	Feel free to send me anything you want.<br />
</div>

<%= render 'shared/footer' %>