<% provide(:title, 'Music') %>

<%= render 'shared/header' %>

<div class="music-content">
	<h1>Hi-Fi</h1>
	I am a headphone <span class="music-highlight"><a href="http://en.wikipedia.org/wiki/Audiophile">audiophile.</a></span><br />
	My current setup consists of:<br />

	Headphones (below): <span class="music-highlight"><a href="http://www.head-fi.org/products/sennheiser-hd-800-headphones">HD800</a></span><br />

	Headphone Recable: <span class="music-highlight"><a href="http://www.doublehelixcables.com/">6' Double Helix</a></span><br />

	Amplifier (below): <span class="music-highlight"><a href="http://solderworksaudio.com/Portfolio.html">SolderWorksAudio β22</a></span><br />

	Digital to Analog Converter: <span class="music-highlight"><a href="http://www.enjoythemusic.com/magazine/equipment/0808/keces_da151.htm">Keces KA-151</a></span><br />

	Source: <span class="music-highlight"><a href="http://en.wikipedia.org/wiki/FLAC">FLAC</a> via <a href="http://en.wikipedia.org/wiki/Foobar2000">Foobar2000</a></span><br />

	<div class="audio-vectors">
		<img src=<%= asset_path('HD800.png') %> class="hd800-png">
		<img src=<%= asset_path('B22.png') %> class="b22-png">
	</div>

	<h1>Music</h1>
	I enthuse(!) over all types of <span class="music-highlight">live music.</span><br />
	My tastes range from jam-rock <span class="music-highlight">(Phish)</span><br />
	to art-rock <span class="music-highlight">(My Morning Jacket)</span><br />
	to indie rock <span class="music-highlight">(Broken Social Scene)</span><br />
	to progressive-rock <span class="music-highlight">(Steven Wilson)</span><br />
	to (older) progressive-rock <span class="music-highlight">(Gentle Giant)</span><br />
	to jazz <span class="music-highlight">(Medeski, Martin, and Wood)</span><br />
	to death metal <span class="music-highlight">(Opeth)</span><br />
	to country <span class="music-highlight">(Uncle Tupelo)</span><br />
	to atmospheric <span class="music-highlight">(Sigur Rós)</span><br />
	to folk <span class="music-highlight">(Fleet Foxes)</span><br />
	to rap <span class="music-highlight">(Bone Thugs)</span><br />
	and to a majority of other genres.<br /><br />

	You can find a (hopefully) up-to-date catalog of all of my attended shows <span class="music-highlight"><a href="https://www.dropbox.com/s/ep6k9vluqrcpb89/List%20of%20Attended%20Concerts.pdf">here.</a></span>


</div>

<%= render 'shared/footer' %>