<% provide(:title, 'Music') %>

<%= render 'shared/header' %>

<div class="music-content">
	<h1>Hi-Fi</h1>
	I am... a headphone <span class="music-highlight"><a href="http://en.wikipedia.org/wiki/Audiophile">audiophile! </a></span><br />
	My current setup consists of:<br />

	Headphones (below): <span class="music-highlight"><a href="http://www.head-fi.org/products/sennheiser-hd-800-headphones">HD800</a></span><br />

	Headphone Recable: <span class="music-highlight"><a href="http://www.doublehelixcables.com/">6' Double Helix</a></span><br />

	Amplifier (below): <span class="music-highlight"><a href="http://solderworksaudio.com/Portfolio.html">SolderWorksAudio β22</a></span><br />

	Digital to Analog Converter: <span class="music-highlight"><a href="http://www.enjoythemusic.com/magazine/equipment/0808/keces_da151.htm">Keces KA-151</a></span><br />

	Source: <span class="music-highlight"><a href="http://en.wikipedia.org/wiki/FLAC">FLAC</a> via <a href="http://en.wikipedia.org/wiki/Foobar2000">Foobar2000</a></span><br />

	<br />
	North of the DAC, my setup previously consisted of:<br />

	Headphones: <span class="music-highlight"><a href="http://www.head-fi.org/products/sennheiser-hd-580">HD580 (HD600 Grills)</a></span><br />

	Headphone Recable: <span class="music-highlight"><a href="http://apuresound.com/">6' APureSoundv3 (Furutech Termination)</a></span><br />

	Amplifier: <span class="music-highlight"><a href="http://www.head-fi.org/products/darkvoice-332">Darkvoice 332</a></span><br />

	<br />

	At some point, I have also owned (or still own!) the following: <br />

	Headphones: <span class="music-highlight"><a href="http://www.head-fi.org/products/sennheiser-hd-595-headphones">HD595</a></span><br />

	Headphones: <span class="music-highlight"><a href="http://www.head-fi.org/products/audio-technica-ath-m50s">ATH-M50</a></span><br />

	Headphones: <span class="music-highlight"><a href="http://www.head-fi.org/products/akg-k240-sextett">AKG240 Sextett (LP)</a></span><br />

	Headphones: <span class="music-highlight"><a href="http://www.head-fi.org/products/grado-sr60-headphones">Grado SR60 (Modded)</a></span><br />

	IEMs: <span class="music-highlight"><a href="http://www.head-fi.org/products/head-direct-re1-in-ear-headphones">HeadDirect RE1</a></span><br />

	Amplifier/DAC Combo: <span class="music-highlight"><a href="http://www.head-fi.org/products/govibe-petite">Go Vibe Petite</a></span><br />

	Amplifier: <span class="music-highlight"><a href="http://www.head-fi.org/products/electric-avenues-pa2v2">PA2V2</a></span><br />

	<div class="audio-vectors">
		<img src=<%= asset_path('HD800.png') %> class="hd800-png">
		<img src=<%= asset_path('B22.png') %> class="b22-png">
	</div>

	<h1>Music</h1>
	I enthuse(!) over all types of <span class="music-highlight">live music.</span><br />
	My tastes range from jam-rock <span class="music-highlight">(Phish)</span><br />
	to art-rock <span class="music-highlight">(My Morning Jacket)</span><br />
	to indie rock <span class="music-highlight">(Broken Social Scene)</span><br />
	to classically-influenced rock <span class="music-highlight">(Andrew Bird)</span><br />
	to slightly-experimental rock <span class="music-highlight">(Wilco)</span><br />
	to progressive-rock <span class="music-highlight">(Steven Wilson)</span><br />
	to (older) progressive-rock <span class="music-highlight">(Gentle Giant)</span><br />
	to "indie pop" <span class="music-highlight">(Lo-Fang)</span><br />
	to jazz <span class="music-highlight">(Medeski, Martin, and Wood)</span><br />
	to fusion <span class="music-highlight">(Snarky Puppy)</span><br />
	to blues and soul <span class="music-highlight">(Tedeschi Trucks Band)</span><br />
	to folk-inspired gospel <span class="music-highlight">(Mavis Staples)</span><br />
	to death metal <span class="music-highlight">(Opeth)</span><br />
	to slightly stranger death metal <span class="music-highlight">(Orphaned Land)</span><br />
	to country <span class="music-highlight">(Uncle Tupelo)</span><br />
	to atmospheric <span class="music-highlight">(Sigur Rós)</span><br />
	to electronic <span class="music-highlight">(The Prodigy)</span><br />
	to folk <span class="music-highlight">(Fleet Foxes)</span><br />
	to rap <span class="music-highlight">(Bone Thugs)</span><br />
	and to a majority of other genres.<br /><br />

	You can find a (hopefully) up-to-date catalog of all of my attended shows <span class="music-highlight"><a href="https://www.dropbox.com/s/ep6k9vluqrcpb89/List%20of%20Attended%20Concerts.pdf">here.</a></span><br />

	You can read a little about my fascination with Phish <span class="music-highlight"><a href="#">here.</a></span>
</div>

<%= render 'shared/footer' %>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-53588384-1', 'auto');
  ga('send', 'pageview');

</script>
