<% provide(:title, 'Professional') %>

<%= render 'shared/header' %>

<div class="professional-content">
	<h1>Experience</h1>

	<div class="professional-entry">
		<h2>Product Manager : <span class="red">Uber @ San Francisco, CA</span></h2>
		<div class="professional-entry-timeframe">
			[Product Manager I] December 2016 - Present <br />
		</div>
		<div class="professional-entry-text">
			Product Manager for Pickup Experience, one of the core user-facing experience teams for Uber's rider app. 
		</div>
	</div>

	<div class="professional-entry">
		<h2>Software Engineer : <span class="red">Uber @ San Francisco, CA</span></h2>
		<div class="professional-entry-timeframe">
			[Software Engineer II] July 2016 - December 2016 <br />
			[Software Engineer I] August 2015 - July 2016
		</div>
	</div>

	<div class="professional-entry">
		<h2>Software Engineering Intern : <span class="red">Amazon.com @ Palo Alto, CA</span></h2>
		<div class="professional-entry-timeframe">
			[May 2014 - August 2014] <br />
		</div>
		<div class="professional-entry-text">
			Implemented a variety of page-load optimizations for Amazon Silk, the native web browser for all Kindle devices.
		</div>
	</div>

	<div class="professional-entry">
		<h2>Software Engineering Intern : <span class="red">Amazon.com @ Seattle, WA</span></h2>
		<div class="professional-entry-timeframe">
			[May 2013 - August 2013] <br />
		</div>
		<div class="professional-entry-text">
			Designed and implemented an application called "OFPDragons" (Demand Rebind And Greedy OptimizatioN Service) that optimized the shipment of items to/from warehouses. Written primarily in Java, using the Spring MVC Framework.
		</div>
	</div>
</div>

<%= render 'shared/footer' %>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-53588384-1', 'auto');
  ga('send', 'pageview');

</script>
