<%= render 'shared/header' %>

<div class="professional-content">
	<h1>Industry</h1>
	<div class="professional-entry">
		<h2>May '14 - August '14 :: <span class="red">Amazon.com @ Palo Alto, PA</span></h2>
		<div class="professional-entry-text">
			Implemented a variety of page-load optimizations for Amazon Silk, the native web browser for all Kindle devices.
		</div>
	</div>

	<div class="professional-entry">
		<h2>May '13 - August '13 :: <span class="red">Amazon.com @ Seattle, WA</span></h2>
		<div class="professional-entry-text">
			Designed and implemented an application called "OFPDragons" (Demand Rebind And Greedy OptimizatioN Service) that optimized the shipment of items to/from warehouses. Written primarily in Java, using the Spring MVC Framework.
		</div>
	</div>

	<h1>Side Projects</h1>

	<div class="professional-entry">
		<h2>March '14 - May '14 :: <span class="red"><a href="http://www.hatchedideas.com">www.hatchedideas.com</a></span></h2>
		<div class="professional-entry-text">
			Mocked, prototyped, user-tested, and assisted with implementation for "Hatched", a web service that allows both technical and non-technical individuals collaborate with others on potential start-up ideas.
		</div>
	</div>

	<div class="professional-entry">
		<h2>Dec '13 - Feb '14 :: <span class="red"><a href="http://www.calakpsi.com">www.calakpsi.com</a></span></h2>
		<div class="professional-entry-text">
			Designed and implemented back-end and front-end for the Alpha Beta (UC Berkeley) chapter of Alpha Kappa Psi, a professional business fraternity. Written in Ruby on Rails.
		</div>
	</div>

	<h1>Technical Skills</h1>
	<span class="technical-skills">
		Python, Java, C, LaTeX, HTML, CSS, SQL, Ruby on Rails, Unix
	</span>


</div>

<%= render 'shared/footer' %>