<body id="splash-bg">

	<div class="splash-outer">
	    <div class="splash-container">
	        <div class="splash-intro">
	            Hi. My name is 
	            <span id="splash-ryanyu">
	            	Ryan Yu.
	            </span>
	            <br />
	            I am a student at the University of California, Berkeley.
	        </div>

	        <div class="splash-intro enter-here">
	        	<%= link_to "Enter here.", index_path %>
	        </div>
	    </div>
	</div>

</body>