<body id="splash-bg">
	<div class="splash-outer">
	    <div class="splash-container">
	        <div class="splash-intro">
	            Hi. My name is 
	            <span id="splash-ryanyu">
	            	Ryan Yu.
	            </span>
	            <br />
	            I am a student at the University of California, Berkeley.
	        </div>

	        <div class="splash-intro enter-here">
	        	<%= link_to "Enter here.", home_path %>
	        </div>
	    </div>
	</div>
</body>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-53588384-1', 'auto');
  ga('send', 'pageview');

</script>